<section class="intro">
    <div class="container">
        <header class="intro__header">
            <div class="logo">
                <div class="logo__pic">
                    <img src="img/section-decor.png" alt="" class="logo__img">
                </div>
                <div class="logo__name">Микоцин</div>
            </div>
            <ul class="intro__header-list">
                <li class="intro__header-item">
                    <div class="intro__pic">
                        <img src="img/number-icon.svg" alt="" class="intro__img">
                    </div>
                </li>
                <li class="intro__header-item">

                </li>
                <li class="intro__header-item">

                </li>
            </ul>
        </header>
    </div>
</section>