<section class="intro">
    <div class="container">
        <header class="intro__header">
            <div class="logo">
                <div class="logo__pic">
                    <img src="img/section-decor.png" alt="" class="logo__img">
                </div>
                <div class="logo__name font_black">Микоцин</div>
            </div>
            <ul class="intro__header-list">
                <li class="intro__header-item">
                    <div class="intro__pic">
                        <img src="img/number-icon.svg" alt="" class="intro__img">
                    </div>
                    <p class="intro__header-desc font_italic">
                        №1 Для избавления <br> от любого типа грибка
                    </p>
                </li>
                <li class="intro__header-item">
                    <div class="intro__pic">
                        <img src="img/recommend-icon.svg" alt="" class="intro__img">
                    </div>
                    <p class="intro__header-desc font_italic">
                        Рекомендован <br> дерматологами  
                    </p>
                </li>
                <li class="intro__header-item">
                    <div class="intro__pic">
                        <img src="img/clients-icon.svg" alt="" class="intro__img">
                    </div>
                    <p class="intro__header-desc font_italic">
                        13000+ довольных <br> клиентов за 2018 год
                    </p>
                </li>
            </ul>
        </header>
        <div class="intro__main">
            <div class="intro__product">
                <img src="img/intro-legs.png" alt="" class="intro__product-legs">
                <div class="intro__product-pic">
                    <img src="img/intro-room.png" alt="" class="intro__product-img">
                </div>
                <div class="intro__pack">
                    <div class="intro__pack-tablets">
                        <img src="img/product-pack-tab.png" alt="" class="intro__pack-img">
                        <img src="img/product-tablets.png" alt="" class="intro__pack-img intro__pack-img_tablets">
                    </div>
                    <img src="img/product-gel.png" alt="" class="intro__pack-img intro__pack-img_gel">
                    <img src="img/product-stick.png" alt="" class="intro__pack-img intro__pack-img_stick">
                </div>
            </div>
            <div class="intro__desc">
                <h1 class="intro__title font_black">Комплексное избавление от грибка — <span class="intro__title-small font_bold">изнутри и снаружи</span></h1>
                <ul class="intro__desc-list">
                    <li class="intro__desc-item">
                    </li>
                    <li class="intro__desc-item"></li>
                    <li class="intro__desc-item"></li>
                </ul>
            </div>
            <div class="form">

            </div>
        </div>
    </div>
</section>