<section class="intro">
    <div class="container">
        <header class="intro__header">
            <div class="logo">
                <div class="logo__pic">
                    <img src="img/section-decor.png" alt="" class="logo__img">
                </div>
                <div class="logo__name font_black">Микоцин</div>
            </div>
            <ul class="intro__header-list">
                <li class="intro__header-item">
                    <div class="intro__pic">
                        <img src="img/number-icon.svg" alt="" class="intro__img">
                    </div>
                    <p class="intro__header-desc font_italic">
                        №1 Для избавления <br> от любого типа грибка
                    </p>
                </li>
                <li class="intro__header-item">
                    <div class="intro__pic">
                        <img src="img/recommend-icon.svg" alt="" class="intro__img">
                    </div>
                    <p class="intro__header-desc font_italic">
                        Рекомендован <br> дерматологами  
                    </p>
                </li>
                <li class="intro__header-item">
                    <div class="intro__pic">
                        <img src="img/clients-icon.svg" alt="" class="intro__img">
                    </div>
                    <p class="intro__header-desc font_italic">
                        13000+ довольных <br> клиентов за 2018 год
                    </p>
                </li>
            </ul>
        </header>
        <div class="intro__main">
            <div class="intro__product">
                <img src="img/intro-legs.png" alt="" class="intro__product-legs">
                <div class="intro__product-pic">
                    <div class="intro__circle">
                        <svg class="intro__circle-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 170">
                            <circle r="78" cx="78" cy="78"></circle>
                        </svg>
                    </div>
                    <img src="img/intro-room.png" alt="" class="intro__product-img">
                </div>
            </div>
            <div class="intro__desc">
                <h1 class="intro__title font_black">Комплексное избавление от&nbsp;грибка — <span class="intro__title-small font_bold"> <span class="border-orange-big">изнутри</span>&nbsp;и <span class="border-green-big">снаружи</span></span></h1>
                <ul class="intro__desc-list">
                    <li class="intro__desc-item">
                        <div class="intro__desc-bullet font_bold">2в1</div>
                        <p class="intro__desc-text">
                            Комплекс Микоцин <span class="font_medium color-text_black">устраняет зуд, неприятный запах</span> 
                            и возвращает эстетичный вид                              
                        </p>
                    </li>
                    <li class="intro__desc-item">
                        <div class="intro__desc-bullet font_bold">1</div>
                        <p class="intro__desc-text">
                            <span class="font_medium color-text_black border-orange-small">Таблетки</span> Микоцин
                            <span class="font_medium color-text_black">уничтожают все виды грибка</span>
                            на ногтях и коже
                        </p>
                    </li>
                    <li class="intro__desc-item">
                        <div class="intro__desc-bullet font_bold">2</div>
                        <p class="intro__desc-text">
                            <span class="font_medium color-text_black border-green-small">Гель</span> Микоцин
                            <span class="font_medium color-text_black">восстанавливает кожу</span>
                            и создает на ней <span class="font_medium color-text_black">защитный барьер </span>                        
                        </p>
                    </li>
                </ul>
            </div>
            <div class="intro__form">
                <div class="intro__pack">
                    <div class="intro__pack-tablets">
                        <div class="intro__pack-label font_black">299 <span class="intro__pacl-currency">₽</span></div>
                        <img src="img/product-pack-tab.png" alt="" class="intro__pack-img">
                        <img src="img/product-tablets.png" alt="" class="intro__pack-img intro__pack-img_tablets">
                    </div>
                    <div class="intro__pack-gel">
                        <div class="intro__pack-label intro__pack-label_island font_black">299 <span class="intro__pacl-currency">₽</span></div>
                        <img src="img/product-gel.png" alt="" class="intro__pack-img intro__pack-img_gel">
                    </div>
                    <img src="img/product-stick.png" alt="" class="intro__pack-img intro__pack-img_stick">
                </div>
                <div class="form">
                    <div class="form__wrap">
                        <div class="form__title">
                            Успейте заказать со скидкой <br> <span class="form__title-accent font_medium">до <span class="date-0" data-format="mm.dd.yyyy">10.09.2018</span></span>
                        </div>
                        <div class="form__price">
                            <div class="form__price-old">
                                <div class="form__price-title">старая цена</div>
                                <div class="form__price-value form__price-value_previous">
                                    <span class="x_price_previous form__prices font_light">918</span>
                                    <span class="x_currency form__currency">₽</span>
                                </div>
                            </div>
                            <div class="form__price-new">
                                <div class="form__price-title color-text_black">новая цена</div>
                                <div class="form__price-value form__price-value_accent">
                                    <span class="x_price_current form__prices font_black">459</span>
                                    <span class="x_currency form__currency font_bold">₽</span>
                                </div>
                            </div>
                        </div>
                        <form class="form__main x_order_form" action="/submit" method="post">
                            <input type="text" name="name" class="form__main-input form__main-name" placeholder="Имя" required>
                            <input type="text" name="tel" class="form__main-input form__main-tel" placeholder="Телефон" required>
                            <div class="btn-box">
                                <button type="submit" class="btn font_bold">Заказать <span class="small-text">со скидкой</span></button>
                            </div>
                        </form>
                        <div class="form__lastpack">
                            Осталось <span class="form__lastpack-accent font_medium lastpack">10</span> упаковок <br> со скидкой
                        </div>
                    </div>
                    <div class="form__security">
                        <img src="img/security.png" alt="" class="form__security-img">
                        Ваши данные защищены!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>