<section class="block danger">
    <div class="container">
        <h2 class="title title-decor danger-title">Грибок – это опасная инфекция</h2>
        <p class="danger-slogan font_bold">которая угрожает вам и вашим близким, ведь с каждым днем грибок приводит&nbsp;к:</p>
        <div class="danger-wrap">
            <div class="danger-item">
                <div class="danger-item__content">
                    <div class="danger-img">
                        <div class="danger-img__circle">
                            <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156">
                                <circle r="70" cx="78" cy="78"></circle>
                            </svg>
                        </div>
                        <span class="danger-number"></span>
                        <img src="img/danger-item1.jpg" alt="">
                    </div>
                    <p class="danger-item__text font_medium">Сложным формам аллергии</p>
                </div>
               <p class="danger-item__descr">Может появится сильная реакция на&nbsp;привычную пищу, одежду, средства&nbsp;гигиены</p>
            </div>
            <div class="danger-item">
                <div class="danger-item__content">
                    <div class="danger-img">
                        <div class="danger-img__circle">
                            <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156">
                                <circle r="70" cx="78" cy="78"></circle>
                            </svg>
                        </div>
                        <span class="danger-number"></span>
                        <img src="img/danger-item2.jpg" alt="">
                    </div>
                    <p class="danger-item__text font_medium">Потере ногтя и&nbsp;ампутации пальца</p>
                </div>
                <p class="danger-item__descr">После полного разрушения ногтя<br> грибок распространяется на палец,<br> что приводит к его ампутации</p>
            </div>
            <div class="danger-item">
                <div class="danger-item__content">
                    <div class="danger-img">
                        <div class="danger-img__circle">
                            <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 156">
                                <circle r="70" cx="78" cy="78"></circle>
                            </svg>
                        </div>
                        <span class="danger-number"></span>
                        <img src="img/danger-item3.jpg" alt="">
                    </div>
                    <p class="danger-item__text font_medium">Тяжелому поражению внутренних органов</p>
                </div>
                <p class="danger-item__descr">Может привести к повреждениям<br> мозга, слепоте, отказу печени, почек<br> и&nbsp;сердца</p>
            </div>
        </div>
        <div class="danger-stat">
            <p class="danger-stat__text"><span class="font_medium color-text_black">Статистика:</span> каждые 60 секунд врачи диагностируют опасные поражения внутренних органов,<br>вызванные грибком, у 1-го пациент</p>
        </div>
    </div>
</section>