<section class="block description">
    <div class="container">
        <h2 class="title title-decor description-title">Микоцин – новейшее средство французской военной медицины</h2>
        <p class="description-slogan">для комплексного удара по всем видам&nbsp;грибка!</p>
        <div class="description-wrap">
            <p class="description-wrap__text">Комплекс Микоцин был разработан по специальному заказу Французского Иностранного легиона
                в 2017 году для защиты легионеров от грибковых инфекций. Военное ведомство подсчитало,
                что грибок не просто снижает боеспособность подразделений легиона,<br>
                но и требует много средств для лечения и&nbsp;реабилитации военных.</p>
            <p class="description-wrap__text">Во Французской Гвиане, где солдаты проходят тренировки и службу в условиях джунглей,
                проблема грибка стояла особенно остро. Экстремальная влажность и армейская обувь - идеальные условия
                для распространения грибковых инфекций. Они снижали мораль и&nbsp;выводили из строя лучших легионеров.
            </p>
            <p class="description-wrap__text">Тотальное внедрение и использование комплекса Микоцин позволило легиону избавиться от проблемы грибка<br> и&nbsp;поднять свою боевую мощь.</p>
        </div>
        <div class="description-line"></div>
    </div>
</section>