<section class="block complex">
    <div class="container">
        <h2 class="title title-decor complex-title">Комплекс из внутреннего и&nbsp;наружного&nbsp;средств,</h2>
        <p class="complex-slogan">созданных по новейшим технологиям, позволяет избавиться и&nbsp;защититься от&nbsp;грибка</p>
        <div class="complex-wrap">
            <div class="complex-item complex-item_left">
                <div class="complex-item__header">
                    <p class="complex-item__title"><span>Внутреннее</span> применение&nbsp;–<br> таблетки</p>
                    <div class="complex-left__img"><img src="img/product-pack-tab.png" alt=""></div>
                </div>
                <ul class="complex-list">
                    <li class="complex-list__item">
                        <p class="complex-list__text">Действующие вещества легко <span>попадают в очаги инфекции</span></p>
                        <span class="complex-list__circle"></span>
                    </li>
                    <li class="complex-list__item">
                        <p class="complex-list__text"><span>Разрушается структура</span> клеток<br> грибка</p>
                        <span class="complex-list__circle"></span>
                    </li>
                    <li class="complex-list__item">
                        <p class="complex-list__text"><span>Угнетается размножение</span> грибка</p>
                        <span class="complex-list__circle"></span>
                    </li>
                    <li class="complex-list__item">
                        <p class="complex-list__text">Благодаря натуральным ингредиентам, Микоцин <span>поддерживает работу печени<br> и&nbsp;других внутренних органов</p>
                        <span class="complex-list__circle"></span>
                    </li>
                </ul>
                <p class="complex-item__effect">Грибок бесследно исчезает</p>
            </div>
            <div class="complex-item complex-item_center">
                <div class="complex-circle"></div>
                <div class="line-left"></div>
                <div class="line-right"></div>
                <div class="product-stick"><img src="img/product-stick.png" alt=""></div>
                <div class="product-tablets"><img src="img/product-tablets.png" alt=""></div>
            </div>
            <div class="complex-item complex-item_right">
                <div class="complex-item__header">
                    <div class="complex-right__img"><img src="img/product-gel.png" alt=""></div>
                    <p class="complex-item__title"><span>Наружное</span> применение&nbsp;–<br> гель</p>
                </div>
                <ul class="complex-list">
                    <li class="complex-list__item">
                        <span class="complex-list__circle"></span>
                        <p class="complex-list__text">Благодаря гелевой основе<br> Микоцин<span> воздействует на глубокие слои</span> тканей ногтя и кожи</p>
                    </li>
                    <li class="complex-list__item">
                        <span class="complex-list__circle"></span>
                        <p class="complex-list__text"><span>Блокируются очаги</span> грибковой инфекции</p>
                    </li>
                    <li class="complex-list__item">
                        <span class="complex-list__circle"></span>
                        <p class="complex-list__text">Неприятные проявления грибка постепенно <span>уменьшаются</span></p>
                    </li>
                    <li class="complex-list__item">
                        <span class="complex-list__circle"></span>
                        <p class="complex-list__text">На коже <span>создается защитный барьер,</span> препятствующий повторному заражению</p>
                    </li>
                </ul>
                <p class="complex-item__effect">Ноготь отрастает здоровым и&nbsp;крепким</p>
            </div>
        </div>
        <div class="complex-line"></div>
        <p class="complex-conclusion">Каждый элемент комплекса эффективно противостоит грибковой инфекции в одиночку.<br>
            Но именно комплекс Микоцин <span>надежно избавит вас от грибка и&nbsp;защитит от&nbsp;рецидивов.</span></p>
    </div>
</section>
