<section class="block complex">
    <div class="container">
        <h2 class="title title-decor complex-title">Комплекс из внутреннего и наружного средств,</h2>
        <p class="complex-slogan">созданных по новейшим технологиям, позволяет избавиться и защититься от грибка</p>
        <div class="complex-wrap">
            <div class="complex-item complex-left">
                <p class="complex-item__title">Внутреннее применение – таблетки</p>
            </div>
            <div class="complex-item complex-center"></div>
            <div class="complex-item complex-right"></div>
        </div>
    </div>
</section>