<section class="recommendation block">
    <div class="container">
        <h2 class="recommendation__title title title-decor font_black">
            <span class="recommendation__subtitle font_italic">Заслуженный дерматолог РФ</span>
            Александр Бельский <br> рекомендует комплекс Микоцин
        </h2>
        <div class="recommendation__wrap">
            <div class="recommendation__doc">
                <div class="recommendation__pic">
                    <div class="recommendation__circle">
                        <svg class="recommendation__circle-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                            <circle r="75" cx="78" cy="78"></circle>
                        </svg>
                    </div>
                    <img src="img/recommend-doc-full.png" alt="" class="recommendation__img">
                </div>
            </div>
            <div class="recommendation__desc">
                <h3 class="recommendation__desc-title font_medium font_italic">“Средство, которое помогло уже 13000+ россиян”</h3>
                <p class="recommendation__text">
                    Микоцин - единственный комплекс, который убивает все виды грибка. Средство стоит недорого, абсолютно безопасно
                    и при этом обладает феноменальной эффективностью.
                    Оно помогает избавиться от грибка людям, которым
                    приходится долго носить некачественную закрытую обувь.
                    А также тем, кто уже давно страдает от грибковой инфекции.
                </p>
                <p class="recommendation__text">
                    Многие врачи часто думают о своей выгоде и идут на поводу медицинских корпораций. 
                    Они рекомендуют дорогие неэффективные средства, которые часто вредят организму.
                    Я же, в первую очередь, думаю о здоровье пациента
                    и рекомендую комплекс Микоцин.
                </p>
                <p class="recommendation__text">
                    Своим пациентам <span class="font_medium color-text_black">я рекомендую комплекс Микоцин за то,
                    что он одновременно восстанавливает кожу и ногти,
                    при этом уничтожая грибок изнутри.</span>
                </p>
            </div>
        </div>
    </div>
</section>