<section class="composition block">
    <div class="container">
        <h2 class="composition__title title title-decor">В основе комплекса Микоцин только натуральные компоненты</h2>
        <div class="composition__wrap">
            <div class="composition__section composition__section_gel">
                <div class="composition__wrap-title">
                    <div class="composition__pack composition__pack_gel">
                        <img src="img/product-gel.png" alt="" class="composition__pack-img">
                    </div>
                    <h3 class="composition__subtitle font_bold"><span class="border-green-big">Гель</span> Микоцин</h3>
                </div>
                <ul class="composition__list">
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                Экстракт Melaleuca <br>
                                (чайного дерева)
                            </p>
                            <p class="composition__item-text">
                                Проникает глубоко в кожу
                                и ногтевую пластину, устраняя сам источник грибковой инфекции                            
                            </p>
                        </div>
                        <div class="composition__item-pic">
                            <img src="img/composition-gel-1.png" alt="" class="composition__item-img">
                        </div>
                    </li>
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                Hydrastis <br>
                                (желтокорень канадский)                            
                            </p>
                            <p class="composition__item-text">
                                Эффективно противостоит инфекциям, останавливает размножение грибка и уничтожает
                                его клетки                      
                            </p>
                        </div>
                        <div class="composition__item-pic">
                            <img src="img/composition-gel-2.png" alt="" class="composition__item-img">
                        </div>
                    </li>
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                Экстракт Juglans nigra <br>
                                (черного ореха)   
                            </p>
                            <p class="composition__item-text">
                                Успокаивает раздражения на коже
                                и зуд, обеззараживает                                      
                            </p>
                        </div>
                        <div class="composition__item-pic composition__item-pic_margined">
                            <img src="img/composition-gel-3.png" alt="" class="composition__item-img">
                        </div>
                    </li>
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                Экстракт Oríganum <br>
                                (душицы)
                            </p>
                            <p class="composition__item-text">
                                Обладает ранозаживляющими свойствами, ускоряет восстановление клеток кожи                  
                            </p>
                        </div>
                         <div class="composition__item-pic">
                            <img src="img/composition-gel-4.png" alt="" class="composition__item-img">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="composition__section composition__section_tablets">
                <div class="composition__wrap-title">
                    <h3 class="composition__subtitle font_bold"> <span class="border-orange-big">Таблетки</span> Микоцин</h3>
                    <div class="composition__pack composition__pack_tablets">
                        <img alt="" class="composition__pack-img" src="img/product-pack-tab.png">
                    </div>
                </div>
                <ul class="composition__list">
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                Экстракт Propolim <br>
                                (прополис)
                            </p>
                            <p class="composition__item-text">
                                Подавляет развитие бактерий
                                и убивает все виды грибковых инфекций
                            </p>
                        </div>
                        <div class="composition__item-pic">
                            <img alt="" class="composition__item-img" src="img/composition-tablets-1.png">
                        </div>
                    </li>
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                Экстракт Echinacea <br>
                                (эхинацея)
                            </p>
                            <p class="composition__item-text">
                                Поглощает и уничтожает возбудителей инфекций, ускоряет заживление ран, повышает общий иммунитет организма
                            </p>
                        </div>
                        <div class="composition__item-pic">
                            <img alt="" class="composition__item-img" src="img/composition-tablets-2.png">
                        </div>
                    </li>
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                    Экстракт Thymus (тимьян)
                            </p>
                            <p class="composition__item-text">
                                Восстанавливает ногти и укрепляет их, оздоравливает кожу, создает губительную для бактерий среду
                            </p>
                        </div>
                        <div class="composition__item-pic">
                            <img alt="" class="composition__item-img" src="img/composition-tablets-3.png">
                        </div>
                    </li>
                    <li class="composition__item">
                        <div class="composition__desc">
                            <p class="composition__item-title">
                                Экстракт Salvia (шалфея)
                            </p>
                            <p class="composition__item-text">
                                Нормализует состояние кожи, заживляет раны и раздражения, вызванные грибком
                            </p>
                        </div>
                        <div class="composition__item-pic">
                            <img alt="" class="composition__item-img" src="img/composition-tablets-4.png">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="composition__footnote">
            <div class="composition__wrap-pic">
                <div class="composition__footnote-pic">
                    <img src="img/true-icon.svg" alt="" class="composition__footnote-img">
                </div>
            </div>
            <p class="composition__text">
                Благодаря природному происхождению компонентов, комплекс <span class="color-text_black font_medium">Микоцин поддерживает работу
                всего организма</span>, укрепляя местный и общий иммунитет. Ингредиенты состава геля и таблеток многократно
                <span class="color-text_black font_medium">усиливают действие друг друга</span>. Грибок уходит быстро и безвозвратно.
            </p>                    
        </div>
    </div>
</section>