<!-- <section class="block use">
    <div class="container">
        <h2 class="title title-decor use-title">Избавиться от грибка<br> с помощью комплекса Микоцин – ПРОСТО!</h2>
        <div class="use-wrap">
            <div class="use-item use-item__left">
                <p class="use-item__title">Таблетки</p>
                <ul class="use-list">
                    <li class="use-list__item">Принимать по 1 таблетке<br> утром и вечером</li>
                    <li class="use-list__item">Запивать таблетки<br> стаканом воды</li>
                </ul>
            </div>
            <div class="use-item use-item__center">
                <div class="use-circle"></div>
                <div class="product-tab"><img src="img/product-pack-tab.png" alt=""></div>
                <div class="product-gel"><img src="img/product-gel.png" alt=""></div>
            </div>
            <div class="use-item use-item__right">
                <p class="use-item__title">Гель</p>
                <ul class="use-list">
                    <li class="use-list__item">Тщательно втереть гель в пораженный участок кожи и ногтя</li>
                    <li class="use-list__item">Повторять 2 раза в день</li>
                </ul>
            </div>
        </div>
        <div class="use-line"></div>
        <p class="use-advice">Повторяйте процедуру ежедневно и ваши ступни будут здоровыми!</p>
        <div class="btn-box ever-popup-btn">
            <button type="submit" class="btn font_bold">Заказать  Микоцин <span class="small-text">со скидкой</span></button>
        </div>
    </div>
</section> -->