<section class="block reviews">
    <div class="container">
        <h2 class="title title-decor reviews-title">Уже более 13000 россиян избавились от грибка<br> с помощью комплекса Микоцин</h2>
        <p class="reviews-slogan">Вот отзывы некоторых из них:</p>
        <div class="reviews_slider-box">
            <div class="reviews-arrow reviews-prev js-reviews-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="44" viewBox="0 0 25 44"><defs><path id="spqja" d="M644.605 8610.53l-20.54 19.492 20.54 19.449c.395.392.395 1.03 0 1.423l-.716.713a1.016 1.016 0 0 1-1.432 0l-21.05-19.93a1.046 1.046 0 0 1-.01-.01 1.01 1.01 0 0 1-.286-.201l-.716-.712a1.003 1.003 0 0 1 0-1.424l22.062-20.936a1.014 1.014 0 0 1 1.432 0l.716.711c.395.393.395 1.03 0 1.425z"/></defs><g><g transform="translate(-620 -8608)"><use xlink:href="#spqja"/></g></g></svg>
            </div>
            <div class="reviews-arrow reviews-next js-reviews-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="44" viewBox="0 0 25 44"><defs><path id="spqja" d="M644.605 8610.53l-20.54 19.492 20.54 19.449c.395.392.395 1.03 0 1.423l-.716.713a1.016 1.016 0 0 1-1.432 0l-21.05-19.93a1.046 1.046 0 0 1-.01-.01 1.01 1.01 0 0 1-.286-.201l-.716-.712a1.003 1.003 0 0 1 0-1.424l22.062-20.936a1.014 1.014 0 0 1 1.432 0l.716.711c.395.393.395 1.03 0 1.425z"/></defs><g><g transform="translate(-620 -8608)"><use xlink:href="#spqja"/></g></g></svg></div>
            <div class="reviews-slider">
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item1.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Юрий, г.Киров</h4>
                        <p class="reviews-item__feel">Грибок прошел и больше не&nbsp;возвращается</p>
                        <p class="reviews-item__text">
                            Я работаю<br> менеджером-консультантом в&nbsp;магазине и весь день провожу на&nbsp;ногах.
                            Грибок появился летом, когда была жара. Ступни стали чесаться, а потом начали крошиться ногти на больших пальцах ног.<br>
                            А еще этот мерзкий запах!<br> Врач прописала мне таблетки,<br> но я как почитал побочки - отказался пить их. Купил комплекс микоцин.
                            Инструкцию строго соблюдал. Ни разу не пропустил приема таблеток и постоянно мазал ноги гелем. На следующий день, как начал лечиться пропал запах и ноги чесаться перестали!
                            А после полного курса грибок исчез совсем. Ступни здоровые, ногти крепкие! Я очень доволен, что вылечился и так быстро.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item2.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Андрей, г.Ростов</h4>
                        <p class="reviews-item__feel">Ступни перестали чесаться<br> за два часа!</p>
                        <p class="reviews-item__text">
                            Этот комплекс изменил мою<br> жизнь. У меня с армии постоянно проблемы с ногами были.<br>
                            Грибок на ногтях и ступни чесались жутко. Я ноги иногда аж до крови расчесывал. Ногти были просто в&nbsp;кошмарном состоянии.
                            Я их спиливал - боль жуткая. Про&nbsp;комплекс мекоцин мне подруга маникюрщица рассказала.<br> Как я понял, можно заказать или гель или таблетки,
                            а можно и все вместе. Я так задолбался тогда, что решил таки комплекс взять себе. И не жалею вообще.
                            Все просто - гелем ноги обработал и они чесаться и пахнуть перестают, а таблетки этот эффект усиливают и грибок на ногтях начинает потихоньку проходить.
                            Я за 1 курс избавился от грибка, который несколько лет другими средствами вывести не мог! Рекомендую его всем свои знакомым.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item3.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Максим, г.Кемерово</h4>
                        <p class="reviews-item__feel">Радуюсь здоровым ступням каждый&nbsp;день</p>
                        <p class="reviews-item__text">
                            Стеснялся обувь снять в гостях. Даже летом приходилось ходить в&nbsp;закрытой обуви, чтобы не светить своими стремными ногтями с&nbsp;грибком.
                            Пробовал разные народные методы,  уксусные ванночки, обувь и уксусом обрабатывал и специальными средствами. Ногти спиливал и обрезал сильно.
                            Ничего не помогало. Увидел рекламу комплекса микацин и решил попробовать… ногти у меня сейчас красивые и здоровые.
                            Быстро отросли, кожа на ступнях чистая и гладкая, ни раздражений, не чешется ничего! Лучшее средство для меня!
                            Каждый день создателей Микоцина благодарю! А вот доставка разочаровала. Долго ехала посылка, хотя может это почта у нас так работает.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item4.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Татьяна, г.Орел</h4>
                        <p class="reviews-item__feel">Вылечила от грибка своего мужа и&nbsp;отца</p>
                        <p class="reviews-item__text">
                            У нас в семье у всех мужчин грибок был. Я им и кремы разные покупала и таблетки, но ничего не помогало.
                            А&nbsp;зрелище было отвратительное.<br> Я в какой-то момент уже на грани была и мужа в постель не пускала с&nbsp;его страшными ногами.<br>
                            Про комплекс микоцин мне рассказала близкая подруга.<br> Она своего мужа им вылечила от&nbsp;грибка.
                            Я прямо как за спасательный круг за этот микоцин уцепилась. Купила два комплекса и заставила их каждый день таблетки эти пить и гель использовать.
                            Муж ноги в норму привел за 23 дня! Отец чуть дольше лечился - месяц где-то. Сейчас оба ходят довольные.
                            Запаха ног больше в доме нет, ступни они не чешут, даже когда я не смотрю :)). Я потом подумала и себе взяла комплекс для профилактики.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item5.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Олег, г.Самара</h4>
                        <p class="reviews-item__feel">Быстро избавиться от грибка - только комплекс</p>
                        <p class="reviews-item__text">
                            Три раза в неделю я в бассейне занимаюсь для сохранения формы. Так вот, форму сохранил, а грибок подцепил, хоть всегда в тапочках хожу.
                            Заметил, что ногти стали крошиться и потемнели как-то. Поговорил со своими из бассейна, один посоветовал гель Микоцин. Сказал, он за месяц грибок вывел
                            и&nbsp;часто мажет для профилактики. Я&nbsp;дома почитал про этот гель.
                            В общем, можно и просто гель купить, а можно и весь комплекс - там и таблетки и гель. Ну я комплекс и купил и грибок вывел за 20 дней!
                            Ногти крепкие и ступни ровные и гладкие. Никаких раздражений!
                            Так что, лучше сразу весь комплекс использовать, так быстрей грибок пройдет. А вот шрамы гель не убрал вообще. У меня шрам на ноге, думал поможет - но нет.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item6.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Константин, г.Москва</h4>
                        <p class="reviews-item__feel">Смог спасти ногти</p>
                        <p class="reviews-item__text">
                            У меня вообще была критическая ситуация. Год где-то на грибок на&nbsp;ногах вообще не обращал внимания. Иногда спиливал, чтобы ногти обувь носить не мешали.
                            В&nbsp;итоге ноги довел до страшного состояния. Грибок перекинулся<br> и на другие пальцы, стопа очень сильно потрескалась, чесалась постоянно между пальцами
                            и&nbsp;раздражения были. Пошел<br> я к врачу. Тот сказал, что все - ноготь на одном большом пальце надо будет удалять через месяца три.
                            И сказал, что последний шанс это комплекс микоцин - и таблетки и гель. Я очень боялся, что не поможет, но оказалось, что зря нервничал.
                            Микоцин спас мне все ногти на ногах и ступни вылечил! На лечение ушел 1 месяц!
                            Так злился на себя, что столько проблем было, а мог уже давно разобраться с грибком.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item7.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Аркадий, г.Минск</h4>
                        <p class="reviews-item__feel">Самое приятное и быстрое<br> лечение</p>
                        <p class="reviews-item__text">
                            У меня осенью всегда проблемы с&nbsp;ногами: каждый год грибок появляется. Ну я и пью таблетки
                            и&nbsp;уксусом ноги и обувь<br> обрабатываю, ванночки специальные делаю. А это просто меня задалбывает делать!<br>
                            На форуме прочитал про лекарство против грибка новое – микоцин.<br>Это гель и таблетки. Что лечит быстро и хорошо. Ну и заказал себе.
                            Первый эффект, который я почувствовал - прошел зуд и запах. Дальше было лучше.
                            За 4 недели грибок исчез! Единственное что – пришлось долго ждать звонка оператора, около часа. А так рекомендую.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item8.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Анатолий, г.Кострома</h4>
                        <p class="reviews-item__feel">Снова могу работать<br> на полную</p>
                        <p class="reviews-item__text">
                            Я работаю курьером в книжном магазине, потому весь день бегаю по&nbsp;городу и в дождь, и в снег,<br> и в жару. Один раз промочил ноги. Стал сопливить, а потом еще
                            и&nbsp;грибок на ногах появился. Болячка это очень неприятная. Мне дома<br> при жене ботинки снимать не&nbsp;хотелось. Крема пользовал, но&nbsp;бестолку все.
                            А потом грибок на&nbsp;еще один палец перешел.<br> Ну и пришлось к врачу топать.Врачиха осмотрела меня и предложила комплекс микоцин попробовать.
                            Сказала, он недорогой, но хорошо лечит. Ну я и попробовал. Таблетки и гель, каждый день - все как надо. За месяц все прошло.
                            Ногти стали отрастать потихоньку - здоровенькие, ступни тоже в порядке. Советую, одним словом. Хороший комплекс.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item9.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Александр, г.Новгород</h4>
                        <p class="reviews-item__feel">Вылечил запущенный грибок</p>
                        <p class="reviews-item__text">
                            Люблю рыбалку очень. И как раз<br> из-за нее подцепил грибок - сырость, грязь. Оно так у нашего брата и&nbsp;бывает. Частая хворь.
                            Ноги стали чесаться, сыпь появилась между пальцами ног. Ну я и попросил дочку найти мне лекарство, она и так все время за компьютером сидит.
                            Нашла бы мне крем какой - польза была б от компьютера этого. И&nbsp;нашла.<br>
                            Таблетки и гель - комплекс микоцин. Стал мазать ноги и лекарство это пить и потихоньку грибок стал уходить. Я ж обрадовался!
                            Своим знакомым посоветовал его. Раньше ж ноготь спиливал, а теперь просто таблетки и гель.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
                <div>
                    <div class="reviews-item">
                        <div class="reviews-item__img">
                            <img src="img/reviews-item10.jpg" alt="">
                        </div>
                        <h4 class="reviews-item__title">Мария, г. Тверь</h4>
                        <p class="reviews-item__feel">Дети в безопасности</p>
                        <p class="reviews-item__text">
                            Мы всей семье подцепили грибок на&nbsp;пляже, и тут началось. Послушалась свекровь и лечила всех народными средствами. Ничего не помогло.
                            Потом пробовала крем специальный - результат ноль. Позвонила знакомому фармацевту, он и рассказал мне про комплекс мекоцин.
                            Я заказала 4 упаковки сразу, чтобы на каждого хватило, и&nbsp;стали мы лечиться. Ощущения - хорошие.
                            Гель успокаивал зуд и раздражения на коже и между пальцами ног. Таблетки тоже скоро дали эффект и где-то через полторы недели грибок стал исчезать.
                            Но мы все равно весь курс прошли, чтобы наверняка избавиться от заразы. Рекомендую его всем.
                        </p>
                        <span class="reviews-item__circle js-reviews-open"></span>
                        <p class="reviews-item__button js-reviews-open"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>