<section class="delivery block">
    <div class="container">
        <h2 class="delivery__title title title-decor font_black">
            На Микоцин действует бесплатная доставка без предоплат
        </h2>
        <ul class="delivery__list">
            <li class="delivery__item delivery__item_centered">
                <div class="delivery__pic">
                    <img src="img/delivery-1.png" alt="" class="delivery__img">
                </div>
                <p class="delivery__item-title font_bold">
                    Быстро
                </p>
                <p class="delivery__desc">
                    Укажите свое имя и телефон
                    и нажмите кнопку
                    “Заказать со скидкой”
                </p>    
            </li>
            <li class="delivery__pointer">
                <div class="delivery__pointer-pic">
                    <img src="img/delivery-arrow.svg" alt="" class="delivery__pointer__img">
                </div>
            </li>
            <li class="delivery__item">
                <div class="delivery__pic">
                    <img src="img/delivery-2.png" alt="" class="delivery__img">
                </div>
                <p class="delivery__item-title font_bold">
                    Удобно
                </p>
                <p class="delivery__desc">
                    Ответьте на телефонный звонок. Оператор согласует
                    с вами все детали
                </p>   
            </li>
            <li class="delivery__pointer">
                <div class="delivery__pointer-pic">
                    <img src="img/delivery-arrow.svg" alt="" class="delivery__pointer__img">
                </div>
            </li>
            <li class="delivery__item">
                <div class="delivery__pic">
                    <img src="img/delivery-3.png" alt="" class="delivery__img">
                </div>
                <p class="delivery__item-title font_bold">
                    Безопасно
                </p>
                <p class="delivery__desc">
                    Оплата - только после
                    получения товара. Никаких предоплат.
                </p>
            </li>
        </ul>
    </div>
</section>