<section class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__copyright">
                <div class="footer__pic">
                    <img src="img/everad.svg" alt="" class="footer__img">
                </div>
                <div class="footer__copyright-text">
                    <p class="footer__text">Микоцин</p>
                    <p class="footer__text">Copyright 2018</p>
                </div>
            </div>
            <div class="footer__policy">
                <p class="footer__text">Политика конфиденциальности</p>
                <p class="footer__text">г. Москва, ул. Чоботовская, д.17, пом.1, ком 2</p>
            </div>
            <div class="footer__inn">
                <p class="footer__text">ИНН 7707251637</p>
                <p class="footer__text">ОГРН 1157735921758</p>
            </div>
        </div>
    </div>
</section>