<div class="ever-popup-build">
		<div class="my-popup" id="cloneThis">
			<div class="pop-up">
                <div class="pop-up__left">
                    <div class="pop-up__header">
                        <div class="logo">
                            <div class="logo__pic">
                                <img src="img/section-decor.png" alt="" class="logo__img">
                            </div>
                            <div class="logo__name font_black">Микоцин</div>
                        </div>
                    </div>
                    <div class="pop-up__pictures">
                        <div class="pop-up__picture">
                            <img src="img/intro-legs.png" alt="" class="pop-up__legs">
                        </div>
                        <div class="pop-up__pack">
                            <img src="img/product-pack-tab.png" alt="" class="pop-up__pack-tab">
                            <img src="img/product-gel.png" alt="" class="pop-up__pack-gel">
                        </div>
                    </div>
                </div>
                <div class="pop-up__rigth">
                    <div class="intro__form">
                        <div class="form">
                            <div class="form__wrap">
                                <div class="form__title">
                                    Успейте заказать со скидкой <br> <span class="form__title-accent font_medium">до <span class="date-0" data-format="dd.mm.yyyy">10.09.2018</span></span>
                                </div>
                                <div class="form__price">
                                    <div class="form__price-old">
                                        <div class="form__price-title">старая цена</div>
                                        <div class="form__price-value form__price-value_previous">
                                            <span class="x_price_previous form__prices font_light">918</span>
                                            <span class="x_currency form__currency">₽</span>
                                        </div>
                                    </div>
                                    <div class="form__price-new">
                                        <div class="form__price-title color-text_black">новая цена</div>
                                        <div class="form__price-value form__price-value_accent">
                                            <span class="x_price_current form__prices font_black">459</span>
                                            <span class="x_currency form__currency font_bold">₽</span><span class="star">*</span>
                                        </div>
                                    </div>
                                </div>
                                <form class="form__main x_order_form" action="/submit" method="post">
                                    <div class="form__main-name">
                                        <input type="text" name="name" class="form__main-input" placeholder="Мое имя" required>
                                    </div>
                                    <div class="form__main-tel">
                                        <input type="tel" name="phone" class="form__main-input" placeholder="Мой телефон" required>
                                    </div>
                                    <div class="btn-box">
                                        <button type="submit" class="btn font_bold">Заказать <span class="small-text">со скидкой</span></button>
                                    </div>
                                    <div class="form__main-footnote">* при заказе курса</div>
                                </form>
                                <div class="form__lastpack">
                                    Осталось <span class="form__lastpack-accent font_medium lastpack">10</span> упаковок <br> со скидкой
                                </div>
                            </div>
                            <div class="form__security">
                                <img src="img/security.png" alt="" class="form__security-img">
                                Ваши данные защищены!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>