.footer {
    padding: 48px 0 48px;

    @include desktop {
        padding: 20px 0 20px;
    }
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        flex-direction: column;
    }
}

.footer__copyright {
    display: flex;
    align-items: center;
}

.footer__copyright-text {
    
    @include tablet {
        display: none;
    }
}

.footer__pic {
    margin-right: 30px;
}

.footer__img {
    width: 54px;
    height: 50px;
}

.footer__text {
    font-size: 16px;
    color: #666;
}

.footer__policy {
    text-align: center;
}

.footer__text_address {

    @include tablet {
        display: none;
    }
}

.footer__inn {
    text-align: right;

    @include tablet {
        display: none;
    }
}