doctype html
html
  head
    meta(charset="utf-8")
    title Купить Микоцин недорого. Цены, отзывы. Закажите Микоцин сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=cyrillic" rel="stylesheet")
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
    //- link(rel='stylesheet' href='css/foundation.css')
  body
    include ../common/a__intro.html
    include ../common/b__danger.html
    include ../common/c__inefficient.html
    include ../common/d__description.html
    include ../common/e__complex.html
    include ../common/f__recommendation.html
    include ../common/g__composition.html
    include ../common/h__use.html
    include ../common/i__reviews.html
    include ../common/j__delivery.html
    include ../common/k__intro-bottom.html
    include ../common/popup.html


    script(src='./js/foundation.js')
    script(src='./js/app.js')
    script(src='./js/postDate.js')
    //- script(src='./js/everad.js')
